title {
    color: rgb(3, 0, 0);
    font-size: 20px;
    text-align: center;
  }
  link {
    text-align: center;
  }
  
  body {
    background-color: black;
  }
  
  p {
    color: rgb(163, 163, 163);
    background-color: black;
    font-size: 24px;

  }
 .text-bold {
    font-weight: bold;
  }
  
 .text-dark {
    color: #333333;
  }
  